body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#table-pays {
    border-collapse: collapse;
    margin: 30px auto;
}

#table-pays th, #table-pays td {
    border: 1px solid black;
    padding: 5px;
}

#table-pays td {
    width: 170px;
    height: 75px;
}

#table-pays th {
    background-color: rgba(209, 209, 209, 0.90);
}

#table-pays tbody {
    text-align: center;
    margin: auto;
    background-color: rgba(230, 230, 230, 0.8);
}

#table-pays tbody tr td img {
    width: 40%;
    height: auto;
}

#details, #support_flag {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 0 70px 20px 70px;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
    background-color: rgba(209, 209, 209, 0.90);
}

#details p {
    font-size: 2em;
}

#details img {
    width: 20%;
    padding-bottom: 20px;
}

#details table {
    padding-bottom: 20px;
}

#details th {
    text-align: left;
    padding: 5px;
}

button {
    padding: 5px 30px;
}

#support_flag img {
    width: 70%;
    padding: 70px 70px 30px 70px;
}